*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'rubik',sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;

}

:root{
    --bg-color: #10101a;
    --main-color: #2fbf71;
    --2nd-main-color: #ffffffcc;
    --text-color: #fff;
    --big-font: 5rem;
    --h2-font: 1.9rem;
    --p-font: 1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 24px 14%;
    transition: .3s;

}

.logo{
    color: var(--text-color);
    font-size: 1.8;
    font-weight: 600;
    
}

span{
    color: var(--main-color);
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
    
}

.navbar a:hover{
    background: var(--main-color);
    transition: -3s;

} 

#menu-icon{
    font-size: 28px;
    z-index: 10001;
    cursor: pointer;
    display: none ;
}